.wrapper {
    display: flex;
    width: 100%;
    min-height: 90vh;
    align-items: stretch;
    font-family: "Poppins", sans-serif;
    background: #fafafa;
}
.home-section {
    padding: 20px;    
    transition: all 0.3s;
}
.card {
    height: 400px;
}
.btn:hover {
    background-color: white;
    color: black;
}
