<div class="wrapper">
     
  
    
    <div class="container mt-5 home-section">
        <!-- <div class="avatar">
        <img src="assets/img/back.svg" alt="Background">
    </div> -->
        <div class="text-center">
            <h2> The Managers' Assistant</h2>
        </div>
        <div class="descrption mt-5">
            <div class="row">

                <div class="col-md-4">
                    <div class="card shadow p-3 mb-5 bg-white rounded border-0">
                        <div class="card-body d-flex flex-column">
                            <h2 class="card-title">Assign Orders</h2>
                            <p class="card-text">Assign orders to your writers instantly. Writers will receive their
                                assigned tasks in their gmail inboxes.</p>
                            <!-- <a class="mt-auto btn btn-primary" [routerLink]="['/manage/organizations/:id/manage/orders']" >Assign</a> -->
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card shadow p-3 mb-5 bg-white rounded border-0">
                        <div class="card-body d-flex flex-column">
                            <h2 class="card-title">Generate invoices</h2>
                            <p class="card-text">Generating your company's invoice made easier.</p>
                            <p>You can <b><i>View</i></b>,<b><i> Generate</i></b> and <b> <i> Download</i></b> a
                                season's work invoice for your writers and the
                                general
                                invoice as well.</p>
                            <!-- <a href="#" class="mt-auto btn btn-success"
                            [routerLink]="['/manage/organizations/:id/:orgid']">Generate</a> -->
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card shadow p-3 mb-5 bg-white rounded border-0">
                        <div class="card-body d-flex flex-column">
                            <h2 class="card-title">Monitor your team's performance</h2>
                            <p class="card-text">Through the analytics provided by the application, you can easily track
                                the
                                progress made by your writers. <br> Your organization's statistics over a certain period
                                are
                                easily accessible.</p>
                            <!-- <a href="#" class="mt-auto btn btn-info" [routerLink]="['/manage/organizations']">Monitor</a> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
