<div class="container mt-4">

    <form (ngSubmit)="loginUser()" [formGroup]="loginData" class="shadow p-5 col-md-6 offset-md-3">

        <p class="text-muted text-center">Start your journey</p>

        <div class="alert" [ngClass]="{'alert-danger':loginFail}" *ngIf="loginFail" [@fadeIn]>
            {{message}}
        </div>

        <div class="input-group mb-3">

            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-envelope"></i> </span>
            </div>

            <input
                [ngClass]="{border:true, 'border-danger':loginData.controls['email'].invalid && (loginData.controls['email'].touched || loginData.controls['email'].dirty)}"
                name="email" formControlName="email" type="email" class="form-control rounded-0" placeholder="Email"
                aria-label="Email">

        </div>

        <div class="input-group mb-3">

            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>

            <input
                [ngClass]="{border:true, 'border-danger':loginData.controls['password'].invalid && (loginData.controls['password'].touched || loginData.controls['password'].dirty)}"
                name="password" formControlName="password" type="password" class="form-control rounded-0"
                placeholder="Password" aria-label="Password" id="loginPassword">
            <div class="input-group-append">
                <span class="input-group-text" (click)="toggleLoginPassword()" *ngIf="showPassword">
                    <i class="fa fa-eye-slash"></i>
                </span>

                <span class="input-group-text" (click)="toggleLoginPassword()" *ngIf="!showPassword">
                    <i class="fa fa-eye"></i>
                </span>

            </div>



        </div>

        <button type="submit" class="btn btn-loyal btn-sm rounded-0 btn-block" [disabled]="loginData.invalid"><i
                class="fa fa-sign-in"></i>
            LOGIN</button>
        <!-- <span class="help-block" *ngIf="loginData == userData">Invalid username or password</span> -->

        <div class="mt-3">

            <a class="text-center mt-3" [routerLink]="['/register']">Register</a>
        </div>
        <!-- <button type="button" class="btn btn-loyal btn-sm rounded-0 btn-block"><i class="fa fa-google"></i> LOGIN WITH
            GOOGLE</button> -->

    </form>

</div>