<div class="wrapper">
    


    <div class="container api-section">
        <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>

        <div class="jumbotron">
            <p class="lead">We are currently supporting Gmail only. Head to the <a href="https://myaccount.google.com/"
                    target="_blank">My Google Account Page.</a> Click <span class="text-danger">Security</span>. Scroll
                down
                to <span class="text-danger">App Passwords</span> and generate a new password. Paste it in the password
                box below.</p>
        </div>
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="apiKeyDTO" (ngSubmit)="applyAPIKey()">
                <p class="lead text-info">Apply for API Key</p>
                <div class="form-group">
                    <label>Email</label>
                    <input formControlName="email" type="email" class="form-control">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input formControlName="password" type="password" class="form-control">
                </div>

                <button type="submit" class="btn btn-success">GENERATE API KEY</button>
            </form>
        </div>
    </div>
</div>