.wrapper {
    display: flex;
    width: 100%;
    min-height: 90vh;
    align-items: stretch;
    font-family: "Poppins", sans-serif;
    background: #fafafa;
}
.orders-section {
    padding: 20px;    
    transition: all 0.3s;
}
hr {
    background-color: rgb(26, 12, 26);
    height: 2px;
}
