<div class="wrapper">


    <div class="container mt-3 orders-section">
        <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>

        <!-- <input (keyup)="searchByOrderId()" [(ngModel)]="searchData" type="text" placeholder="search by order id"
        class="form-control col-md-5 float-left"> -->
        <p class="lead float-left">Current Season Orders</p>
        <!-- check for organization status -->

        <button *ngIf="organization?.status=='ACTIVE'" type="button" data-toggle="modal" data-target="#orderModal"
            class="btn btn-loyal btn-sm rounded-0 float-right mb-3"><i class="fa fa-plus"></i> CREATE AN
            ORDER</button>



        <table class="table mt-3 shadow-lg">
            <thead>
                <tr>
                    <th scope="col">Order Number</th>
                    <th scope="col">Assignee</th>
                    <th scope="col">Word Count</th>
                    <th scope="col">Due</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let order of orders">
                    <th scope="row">{{order.orderNumber}}</th>
                    <td>{{order.assigneeEmail}}</td>
                    <td>{{order.wordCount}}</td>
                    <td><span class="badge badge-warning">{{resolveTimeToDueTime(order.dueDateTime)}}</span></td>
                    <!-- <td>{{order.dueDateTime}}</td> -->

                    <td>
                        <span *ngIf="order.orderStatus=='CANCELLED'"
                            class="badge badge-danger">{{order.orderStatus}}</span>
                        <span *ngIf="order.orderStatus=='COMPLETED'"
                            class="badge badge-success">{{order.orderStatus}}</span>
                        <span *ngIf="order.orderStatus=='INPROGRESS'"
                            class="badge badge-primary">{{order.orderStatus}}</span>
                    </td>
                    <td>
                        <button
                            [swal]="{ title: 'Are you sure you want to approve order?', icon:'question', showDenyButton: true, denyButtonText: 'No', confirmButtonText:'Yes', focusConfirm:true}"
                            (confirm)="approveOrder(order)" *ngIf="order.orderStatus=='INPROGRESS'"
                            class="btn btn-loyal btn-sm"> <i class="fa fa-check"></i>
                            APPROVE</button>
                        <button
                            [swal]="{ title: 'Are you sure you want to cancel order?', icon:'question', showDenyButton: true, denyButtonText: 'No', confirmButtonText:'Yes', focusConfirm:true}"
                            (confirm)="cancelOrder(order)" *ngIf="order.orderStatus=='COMPLETED'"
                            class="btn btn-loyal btn-sm"><i class="fa fa-times"></i>
                            CANCEL</button>
                        <button
                            [swal]="{ title: 'Are you sure you want to reapprove Order?', icon:'question', showDenyButton: true, denyButtonText: 'No', confirmButtonText:'Yes', focusConfirm:true}"
                            (confirm)="approveOrder(order)" *ngIf="order.orderStatus=='CANCELLED'"
                            class="btn btn-loyal btn-sm"><i class="fa fa-refresh"></i>
                            REAPPROVE</button>


                    </td>
                </tr>
            </tbody>
        </table>

        <!-- modal to create a new order -->
        <div class="modal" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModal" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Order</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form [formGroup]="orderData" (ngSubmit)="createOrder()">
                        <div class="modal-body">

                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label> <b>Assignee Email</b> </label>
                                    <select formControlName="assigneeEmail" class="form-control"
                                        id="exampleFormControlSelect1">
                                        <option *ngFor="let writer of writers" value="{{writer.email}}">{{writer.email}}
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group col-md-3">
                                    <label> <b>Order Number</b></label>
                                    <input formControlName="orderNumber" type="text" class="form-control">
                                </div>

                                <div class="form-group col-md-4">
                                    <label> <b>Order Topic</b> </label>
                                    <input formControlName="orderTopic" type="text" class="form-control">
                                </div>

                            </div>

                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label> <b> Order Payable Amount</b></label>
                                    <input formControlName="orderAmount" type="number" class="form-control">
                                </div>


                                <div class="form-group col-md-3">
                                    <label> <b>Due</b> </label>
                                    <input formControlName="dueDateTime" type="datetime-local" class="form-control"
                                        min="{{minDate}}">
                                </div>

                            </div>
                            <hr>

                            <div class="form-group order-details">
                                <label> <b></b> Order Details</label>

                                <textarea formControlName="orderInstructions" rows="12" type="text"
                                    class="form-control">
                           </textarea>

                                <!-- <i class="fa fa-paperclip fa-lg">                                    
                            </i> -->

                            </div>
                            <div class="modal-footer">
                                <button #closeOrderModal type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                        class="fa fa-times"></i>
                                    Close</button>
                                <button type="submit" class="btn btn-loyal"><i class="fa fa-plus"></i> Create
                                    Order</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <swal #createOrderSwal position='top-end' [timer]=1500 title="Created Order"
            text="You have succesfully created an order" [showCloseButton]="false" [showConfirmButton]="false"
            icon="success">
        </swal>
    </div>
</div>