.section-footer{
    background-color:#f1f1f1;
    bottom: 0;   
    width: 100%;
    height: 15vh;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 30px;    
}
a:hover{
    color: black;
    transition: 0.2s;
}