.wrapper {
    display: flex;
    width: 100%;
    min-height: 90vh;
    align-items: stretch;
    font-family: "Poppins", sans-serif;
    background: #fafafa;
}
.organizations-section {
    padding: 20px;    
    transition: all 0.3s;
}
hr{
    background-color: rgb(161, 90, 161);
    height: 2px;
}