<div class="wrapper">
 

    <div class="container mt-3 organizations-section">
        <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>

        <button type="button" data-toggle="modal" data-target="#orderModal"
            class="btn btn-loyal btn-sm rounded-0 float-right mb-3"><i class="fa fa-plus"></i> CREATE
            ORGANIZATION</button>


        <table class="table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Status Reason</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let org of organizations">
                    <th scope="row">{{org.email}}</th>
                    <td>
                        <span *ngIf="org.status=='PENDING_APPROVAL'" class="badge badge-warning">{{org.status}}</span>
                        <span *ngIf="org.status=='ACTIVE'" class="badge badge-success">{{org.status}}</span>
                        <span *ngIf="org.status=='SUSPENDED'" class="badge badge-danger">{{org.status}}</span>
                        <span *ngIf="org.status=='PROBATION'" class="badge badge-secondary">{{org.status}}</span>
                    </td>
                    <td>{{org.statusReason}}</td>
                    <td><button (click)="toDetail(org)" class="btn btn-loyal btn-sm">MANAGE</button></td>
                </tr>
            </tbody>
        </table>


        <div class="modal" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Organization</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form [formGroup]="orgData" (ngSubmit)="createOrg()">
                        <div class="modal-body">
                            <hr>
                            <div class="form-group">
                                <label>Email</label>
                                <input placeholder="organization email" formControlName="email" type="text"
                                    class="form-control">
                            </div>
                            <hr>
                        </div>
                        <div class="modal-footer">
                            <button #closeCreateOrgModal type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                    class="fa fa-times"></i>
                                Close</button>
                            <button type="submit" class="btn btn-loyal"><i class="fa fa-plus"></i> Create
                                Organization</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <swal #createOrganizationSwal title="Created Organization"
            text="You have succesfully created an organization, we shall approve your application once we finalize on the commercials."
            [showCloseButton]="true" [showConfirmButton]="false" icon="success">
        </swal>
    </div>
</div>