<div class="wrapper">
 

    <div class="container mt-3 invoice-section">
        <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>


        <div class="form-group" *ngIf="invoices.length>0">
            <label for="exampleFormControlSelect1">Search By User</label>
            <select (change)="filterByEmail()" [(ngModel)]="searchedEmail" name="searchedEmail"
                class="form-control col-md-4" id="exampleFormControlSelect1">
                <option *ngFor="let user of invoices">{{user.email}}</option>
            </select>
        </div>

        <div class="mt-3 p-5 shadow-lg" *ngIf="invoices?.length>0">

            <div>
                <p class="text-muted pull-left">Invoice for {{currentInvoice?.email}} : <span
                        class="font-weight-bold text-primary">
                        Payable amount is Ksh
                        {{currentInvoice?.totalAmount}}</span>
                </p>
                <button type="button" (click)="extractCSV(currentInvoice)" class="btn btn-primary btn-sm pull-right"><i
                        class="fa fa-download"></i> DOWNLOAD AS CSV</button>
            </div>


            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Order Number</th>
                        <th scope="col">Order Status</th>
                        <th scope="col">Payable Amount</th>
                        <th scope="col">Status</th>
                        <th scope="col">Statement</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of currentInvoice?.orders">
                        <th scope="row">{{order.orderNumber}}</th>
                        <td>{{order.orderStatus}}</td>
                        <td>{{order.orderAmount}}</td>
                        <td>
                            <span class="badge badge-success" *ngIf="order.orderStatus=='COMPLETED'">payable</span>
                            <span class="badge badge-warning" *ngIf="order.orderStatus=='INPROGRESS'">not payable</span>
                            <span class="badge badge-danger" *ngIf="order.orderStatus=='CANCELLED'">not payable</span>
                        </td>
                        <td>
                            <span class="badge badge-success"
                                *ngIf="order.orderStatus=='COMPLETED'">+{{order.orderAmount}}</span>
                            <span class="badge badge-warning" *ngIf="order.orderStatus=='INPROGRESS'">+0</span>
                            <span class="badge badge-danger" *ngIf="order.orderStatus=='CANCELLED'">+0</span>
                        </td>
                    </tr>

                </tbody>


            </table>
            <button type="button" (click)="previous()" class="btn btn-light btn-sm pull-left"><i
                    class="fa fa-backward"></i>
                PREVIOUS</button>
            <button type="button" (click)="next()" class="btn btn-light btn-sm pull-right"><i class="fa fa-forward"></i>
                NEXT</button>

        </div>

        <div class="mt-3 p-5 jumbotron" *ngIf="invoices?.length < 1">
            No invoices to show for this season
        </div>
    </div>
</div>