nav{
    background-color:white;
    height: 10vh;
    width: 100vw;
    padding-top: 20px;
   

}
nav a{
    margin-left: 5vw;
    color: #3a5692;
    text-decoration: none;
    font-weight: bolder;
    font-family: monospace;
    letter-spacing: 1px;   

}
nav button{  
float:right;
margin-right: 30px;


}

button:hover{
    background-color: white;
    color: blue;
}
