<nav>
    <div>

        <span>

        <a href="#">Mwandishi</a>

        <button *ngIf="!isLoggedIn" [routerLink]="['/login']" class="btn btn-primary">
            Login
        </button>
        <button *ngIf="!isLoggedIn" [routerLink]="['/register']" class="btn btn-info">
            Register
        </button>

        <button *ngIf="isLoggedIn" (click)="logOut()" class="btn btn-danger">
            Logout
        </button>

    </span>

    </div>
</nav>