<div class="wrapper">


    <div class="container mt-3 organization-section">
        <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>

        <div class="rounded-1 p-3 shadow-lg">
            <span *ngIf="organization?.status=='ACTIVE'" class="badge badge-success">{{organization?.status}}</span>
            <span *ngIf="organization?.status=='PENDING_APPROVAL'"
                class="badge badge-warning">{{organization?.status}}</span>
            <span *ngIf="organization?.status=='PROBATION'" class="badge badge-dark">{{organization?.status}}</span>
            <span *ngIf="organization?.status=='SUSPENDED'" class="badge badge-danger">{{organization?.status}}</span>

            <button *ngIf="organization?.currentSeasonId==null; else notnull" (click)="startSeason(organization?.id)"
                type="button" class="btn btn-loyal btn-sm float-right"><i class="fa fa-play"></i> START A
                SEASON</button>
            <ng-template #notnull><button type="button" (click)="endSeason(organization?.currentSeasonId)"
                    class="btn btn-loyal btn-sm pull-right"><i class="fa fa-stop"></i> END SEASON</button>
            </ng-template>

        </div>
        <!-- <hr> -->
        <div class="mt-3 rounded-4 border p-3">
            <a [routerLink]="[organization?.id]" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> VIEW
                INVOICES</a>
            <button (click)="toOrders()" class="btn btn-primary btn-sm pull-right"><i class="fa fa-tasks"></i> MANAGE
                ORDERS</button>
        </div>
        <!-- <hr> -->
        <div class=" mt-3 rounded-4 border p-3 shadow-lg">
            <p class="text-muted">Manage Writers</p>
            <button type="button" data-toggle="modal" data-target="#orderModal"
                class="btn btn-loyal btn-sm pull-right"><i class="fa fa-plus"></i> ADD WRITER</button>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let writer of organization?.writers">
                        <th scope="row">{{writer.email}}</th>
                        <td>{{writer.name}}</td>
                        <td>{{writer.phoneNumber}}</td>
                        <td>
                            <!-- <button class="btn btn-warning btn-sm" type="button"><i class="fa fa-pause"></i> SUSPEND</button> -->
                            <button
                                [swal]="{ title: 'Are you sure you want to expel writer from your organization?', icon:'question', showDenyButton: true, denyButtonText: 'No', confirmButtonText:'Yes', focusConfirm:true}"
                                (confirm)="expelWriter(writer.email)" class="btn btn-danger btn-sm ml-3"
                                type="button"><i class="fa fa-stop"></i> EXPEL</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <hr> -->
        <div class="mt-3 rounded-3 border p-3 shadow-lg">
            <p class="text-muted">Manage Managers</p>
            <button type="button" data-toggle="modal" data-target="#managerModal"
                class="btn btn-loyal btn-sm pull-right"><i class="fa fa-plus"></i> ADD MANAGER</button>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                    </tr>
                </thead>
                <tr *ngFor="let manager of organization?.managers">
                    <th scope="row">{{manager.email}}</th>
                    <td>{{manager.phoneNumber}}</td>
                </tr>
                <tbody>

                </tbody>
            </table>
        </div>
        <!-- <hr> -->

        <div class="modal" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Writer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form (ngSubmit)="addWriter()">
                        <div class="modal-body">
                            <hr>
                            <div class="form-group">
                                <label>Email</label>
                                <input placeholder="user email" [(ngModel)]="email" name="email" type="text"
                                    class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label>Name</label>
                                <input placeholder="name" [(ngModel)]="name" name="name" type="text"
                                    class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label>Phone Number</label>
                                <input placeholder="phone number" [(ngModel)]="phoneNumber" name="phoneNumber"
                                    type="text" class="form-control" required>
                            </div>
                            <hr>
                        </div>
                        <div class="modal-footer">
                            <button #closeWriterModal type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                    class="fa fa-times"></i>
                                Close</button>
                            <button type="submit" class="btn btn-loyal"
                                [disabled]="email == null || phoneNumber == null || name == null"><i
                                    class="fa fa-plus"></i>Add Writer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal" id="managerModal" tabindex="-1" role="dialog" aria-labelledby="managerModal"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Manager</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form (ngSubmit)="addManager()">
                        <div class="modal-body">
                            <hr>
                            <div class="form-group">
                                <label>Email</label>
                                <input placeholder="user email" [(ngModel)]="email" name="email" type="text"
                                    class="form-control">
                            </div>
                            <hr>
                        </div>
                        <div class="modal-footer">
                            <button #closeManagerModal type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                    class="fa fa-times"></i>
                                Close</button>
                            <button type="submit" class="btn btn-loyal"><i class="fa fa-plus"></i>Add Manager</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <swal #endSeasonSwal position='top-end' [timer]=1500 title="Ended Season"
            text="You have succesfully ended the season" [showCloseButton]="false" [showConfirmButton]="false"
            icon="success">
        </swal>

        <swal #startSeasonSwal position='top-end' [timer]=1500 title="Started Season"
            text="You have succesfully started your first season" [showCloseButton]="false" [showConfirmButton]="false"
            icon="success">
        </swal>

        <swal #addWriterSwal position='top-end' [timer]=1500 title="Added Writer"
            text="You have succesfully added writer to organization" [showCloseButton]="false"
            [showConfirmButton]="false" icon="success">
        </swal>

        <swal #addManagerSwal position='top-end' [timer]=1500 title="Added Manager"
            text="You have succesfully added manager to organization" [showCloseButton]="false"
            [showConfirmButton]="false" icon="success">
        </swal>

        <swal #expelWriterSwal position='top-end' [timer]=1500 title="Expelled Writer"
            text="You have succesfully expelled writer from organization" [showCloseButton]="false"
            [showConfirmButton]="false" icon="success">
        </swal>

    </div>
</div>