/* You can add global styles to this file, and also import other style files */
.btn-loyal{
    background-color: rgb(161, 90, 161);
    color: white;
    font-weight: bold;
}

.btn-loyal:hover{
    color: white;
    font-weight: bold;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
