
   

    <div class="container mt-3">

        <form [formGroup]="userData" (ngSubmit)="createUser()" class="shadow p-5 col-md-6 offset-md-3">
            <p class="font-weight-bold">Register</p>
            <div class="form-group">
                <label>Email</label>
                <input formControlName="email" type="email" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Phone Number</label>
                <input formControlName="phoneNumber" type="text" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Password</label>
                <input formControlName="password" type="password" class="form-control" required>
                <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">

                    <div *ngIf="f.password.errors.required">Password is required.</div>

                </div>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input formControlName="confirmPassword" required type="password" class="form-control">
                <div *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid" class="alert alert-danger">

                    <div *ngIf="f.confirmPassword.errors.required">Password is required.</div>

                    <div *ngIf="f.confirmPassword.errors.confirmedValidator">Password and Confirm Password must be
                        match.</div>

                </div>
            </div>

            <button type="submit" class="btn btn-loyal btn-sm" [disabled]="!userData.valid">REGISTER</button>
        </form>
    </div>
